

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.redText {
font-weight: bold; font-size: 110%; color:red;
}

.darkLink {
color:#3D2729; font-weight:bold;
}

.bottomMargin {
margin-bottom: 10px;
}

