<div>
	<a target="_self" href="/catalog/mobile-phones/htc-google-nexus-one.aspx">
		<img width="243" height="128" border="0" title="HTC Google Nexus One" alt="HTC Google Nexus One" src="/images/banner_02.jpg">
	</a>
</div>
