@inherits umbraco.MacroEngines.DynamicNodeContext
<div class="infoBoxHeading_table">
	<div class="infoBoxHeading_b">
		<div class="infoBoxHeading_r">
			<div class="infoBoxHeading_l">
				<div class="infoBoxHeading_tl">
					<div class="infoBoxHeading_tr">
						<div class="infoBoxHeading_bl">
							<div class="infoBoxHeading_br">
								<div class="infoBoxHeading_td">
									@(Html.Raw(Parameter.HeaderText))
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>