<div class="footer2_td">
	<div class="image_left">
		<a href="http://www.epam.com/en.html" target="_blank">
			<img width="80" height="19" border="0" src="/images/epam.png" alt="Excellence in Software Engineering" title="EPAM Systems" />
		</a>
	</div>
	<div class="image_right">
		<a href="http://www.epam.com/en.html">
			<img width="80" height="19" border="0" src="/images/epam.png" alt="Excellence in Software Engineering" title="EPAM Systems" />
		</a>
	</div>
	<div>
		&copy; 2013. EPAM Systems. All Rights Reserved.
			<a target="_blank" href="http://www.epam.com/privacy.html">Privacy Policy</a>
	</div>
	<div>
		Excellence in Software Engineering
	</div>
	<div class="clear_both"></div>
</div>