<div class="navigation">
	<div class="navigation_wrapper_tl">
		<div class="navigation_wrapper_tr">
			<div class="navigation_wrapper_rep fs_lh">
				<table cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td class="languages">
								<table cellspacing="0" cellpadding="0" border="0" align="center">
									<tbody>
										<tr>
											<td style="padding: 0px 0px 2px 0px;">Language:&nbsp;&nbsp;</td>
											<td style="width: 100%;">
												<form method="get" action="/" name="languages">
													<select class="select" onchange="this.form.submit();" name="language">
														<option value="en">English</option>
														<option value="de">Deutsch</option>
														<option value="es">Español</option>
													</select>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td class="currencies">
								<table cellspacing="0" cellpadding="0" border="0" align="right">
									<tbody>
										<tr>
											<td style="padding: 0px 0px 0px 0px;">Currencies:&nbsp;&nbsp;</td>
											<td style="width: 100%;">
												<form method="get" action="/" name="currencies">
													<select class="select" onchange="this.form.submit();" name="currency">
														<option selected="" value="USD">US Dollar</option>
														<option value="EUR">Euro</option>
													</select>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>