@{
	var countToDisplay = @Parameter.countToDisplay;
	
}
<h1>TOP @countToDisplay PRODUCTS</h1>
	
	@{
		var sqlHelper = umbraco.BusinessLogic.Application.SqlHelper;
		var productContentTypeId = sqlHelper.ExecuteScalar<int>("select [nodeId] from cmsContentType where alias='Product'");
		var contentNodeIds = 
			sqlHelper.ExecuteReader("SELECT TOP " + countToDisplay.ToString()
									+ " nodeId, text FROM cmsContent INNER JOIN umbracoNode u on u.id = nodeId WHERE contentType=" 
				+ productContentTypeId.ToString() + "AND trashed = 0  ORDER BY nodeId DESC");
	
		
		while(contentNodeIds.Read()){
			<div>
				<a href="@umbraco.library.NiceUrl(@contentNodeIds.GetInt("nodeId"))">@contentNodeIds.GetString("text")</a>
			</div>
		}
	}