@{
	var countToDisplay = @Parameter.countToDisplay;
	
}
<h1>TOP @countToDisplay PRODUCTS</h1>
	
	@{
		var sqlHelper = umbraco.BusinessLogic.Application.SqlHelper;
			
		var contentNodeIds = 
			sqlHelper.ExecuteReader("SELECT TOP " + countToDisplay.ToString() + " * FROM umbracoNode INNER JOIN BoughtProducts ON umbracoNode.id = BoughtProducts.NodeId"
									+ " WHERE umbracoNode.id = BoughtProducts.NodeId ORDER BY BoughtProducts.Count DESC");
		
		while(contentNodeIds.Read()){
			<div>
				<a href="@umbraco.library.NiceUrl(@contentNodeIds.GetInt("NodeId"))">@contentNodeIds.GetString("text")</a>
			</div>
		}
	}