@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@{
    Layout = "Masterpage.cshtml";
}

<div class="post-header">
	<h1>@Umbraco.Field("title")</h1>
</div>
	@Umbraco.RenderMacro("ChildProducts")
	<div>
	@Umbraco.RenderMacro("SortingLinks", new {links="price, name"})
	</div>

	

	