@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	ViewBag.Title = "Contact Us";
	Layout = "Masterpage.cshtml";
}

<div class="post">
	@Umbraco.Field("title")
	<div class="al_left">
		@Umbraco.Field("contactsInfo")
	</div>
	<div class="content_wrapper2_td">&nbsp;</div>
</div>