@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	ViewBag.Title = "Delivery";
	Layout = "Masterpage.cshtml";
}

<div class="post">
	<h2 class="title">@Umbraco.Field("title")</h2>
		<br/>
			<div class="entry">
				@Umbraco.Field("deliveryInformation")
				@Umbraco.Field("contacts")
			</div>
</div>