@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	ViewBag.Title = "Delivery";
	Layout = "Masterpage.cshtml";
}

<div class="post">
	@Umbraco.Field("title")
	<div class="al_left">
		@Umbraco.Field("deliveryInformation")
		@Umbraco.Field("contacts")
	</div>
	<div class="content_wrapper2_td">&nbsp;</div>
</div>