@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	ViewBag.Title = "Home Page";
    Layout = "Masterpage.cshtml";
}

<div class="post">
	@Umbraco.RenderMacro("Top10Products", new {countToDisplay = 10})
</div>