@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	ViewBag.Title = "Home Page";
    Layout = "Masterpage.cshtml";
	var query = 
		"SELECT NodeId " +
		"FROM BoughtProducts " +
		"ORDER BY BoughtProducts.Count DESC";
}

<div class="post">
	<h1>Featured Products</h1>
	@Umbraco.RenderMacro("ProductsList", new {Query = @query, ItemsPerPage=6})
</div>