@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Masterpage.cshtml";
}

<div class="post main">
	<h1>@Umbraco.Field("producer") @Umbraco.Field("model")</h1>
	<br/>
	<div style="float:left;padding-right:10px">
		<img src=@Umbraco.Field("image") width="150px"/>
	</div>
	<div>
		<div class="al_justify">
			@Umbraco.Field("description")
		</div>
		<div class="result_right line">
			<span class="productSpecialPrice">$@Umbraco.Field("price")</span>
		</div>
		<div class="cart_line_x padd2_gg">
			<img width="1" height="2" border="0" alt="" src="/images/spacer.gif">
		</div>
	</div>
	<table class="width_100 bg_button2" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="main button_marg">
					<a href="/Comments.aspx?Id=@Model.Content.Id">Reviews</a>
				</td>
				<td align="right" class="main button_marg">
					@Umbraco.RenderMacro("AddToCart")
				</td>
			</tr>
	</table>
	<div class="content_wrapper2_td">&nbsp;</div>
</div>