@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Masterpage.cshtml";
	ViewBag.Title = "Search Results";
	var query = "select cmsContent.nodeId from cmsContentType left join cmsContent on cmsContentType.nodeId = cmsContent.contentType where cmsContentType.alias='Product'";
	var textToSearch = @HttpContext.Current.Request["s"] ?? string.Empty;
}

<div class="post">
	<h1>Search Results</h1>
	@Umbraco.RenderMacro("ProductsList", new {Query = @query, ItemsPerPage=6, SearchFilter = textToSearch})
</div>