<!DOCTYPE root[<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Deliverypage ANY>
<!ATTLIST Deliverypage id ID #REQUIRED>
<!ELEMENT Masterpage ANY>
<!ATTLIST Masterpage id ID #REQUIRED>
 

]>
<root id="-1">
  <Deliverypage id="1057" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1046" template="1047" sortOrder="1" createDate="2013-01-24T11:09:36" updateDate="2013-01-24T12:30:11" nodeName="Delivery" urlName="delivery" writerName="admin" creatorName="admin" path="-1,1057" isDoc="">
    <title><![CDATA[<p>Order and Delivery</p>]]></title>
    <deliveryInformation><![CDATA[<p><strong>Delivery is free inside Minks.</strong> Some other information. Some other information. Some other information. Some other information. Some other information. Some other information. Some other information. </p>]]></deliveryInformation>
    <contacts><![CDATA[<p>Contacts</p>]]></contacts>
  </Deliverypage>
  <Homepage id="1056" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1054" template="1059" sortOrder="0" createDate="2013-01-24T11:09:27" updateDate="2013-01-24T12:33:07" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1056" isDoc="" />
</root>