<!DOCTYPE root[<!ELEMENT StartPage ANY>
<!ATTLIST StartPage id ID #REQUIRED>
 

]>
<root id="-1">
  <StartPage id="1048" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1042" template="1047" sortOrder="0" createDate="2013-01-23T16:27:41" updateDate="2013-01-23T16:28:49" nodeName="Start Page" urlName="start-page" writerName="admin" creatorName="admin" path="-1,1048" isDoc="" />
</root>